* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 14px;
}
body {
    font-family: sans-serif;
    color: #848484;
    line-height: 1.5;
}
#container {
    margin: 20px auto;
    width: 600px;
}
.user-image-small {
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid #848484;
    border-radius: 50%;
    margin-right: 10px;
}
h2 a {
    line-height: 32px;
    margin-bottom: 10px;
    color: #00acd6;
    display: block;
}
h3 {
    margin-bottom: 10px;
}
.posts {
    margin: 10px 0;
    text-transform: capitalize;
    padding: 10px 20px;
    border: 1px solid #eee;
}
.post {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.postBody {
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #eee;
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    display: block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-small {
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-red {
    background-color: #dd4b39;
    color: #fff;
}
.btn-blue {
    background-color: #00acd6;
    color: #fff;
}
.btn-yellow {
    background-color: #e08e0b;
    color: #fff;
}
.btn-green {
    background-color: #008d4c;
    color: #fff;
}
